@model int

@if (Model > 0)
{
    <li class="nav-item">
        <a asp-controller="Orders" class="nav-link text-dark" asp-action="ShoppingCart">
            <i class="bi bi-cart4"></i> @Model
        </a>
    </li>
}